/* 详细页图片或框框的样式;
*/
.header {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #001529;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
.header .home-page {
  padding: 0 24px;
}
.header-logo {
  position: relative;
  display: inline-block;
  width: 150px;
  line-height: 64px;
}
.header-logo img {
  display: inline-block;
  vertical-align: middle;
}
.header-logo a {
  display: block;
}
.header-menu {
  float: right;
}
.header-menu .ant-menu {
  height: 64px;
  line-height: 62px;
}
.header-menu .ant-menu a {
  display: block;
}
.header-item-block {
  padding: 0 8px;
}
.header-item-block > * {
  display: inline-block;
}
.header-item .ant-menu-sub .ant-menu-item,
.header-item-child .ant-menu-sub .ant-menu-item,
.header-menu .ant-menu-sub .ant-menu-item,
.header-item .ant-menu-inline .ant-menu-item,
.header-item-child .ant-menu-inline .ant-menu-item,
.header-menu .ant-menu-inline .ant-menu-item {
  height: auto;
  line-height: 1.5;
}
.header-item .item-sub-item,
.header-item-child .item-sub-item,
.header-menu .item-sub-item {
  display: block;
  padding: 8px 24px;
}
.header-item .item-image,
.header-item-child .item-image,
.header-menu .item-image {
  position: relative;
  z-index: 1;
  float: left;
  margin-top: 4px;
  margin-right: 16px;
}
.header-item .item-title,
.header-item-child .item-title,
.header-menu .item-title {
  margin-left: 46px;
  color: #fff;
  font-size: 14px;
}
.header-item .item-content,
.header-item-child .item-content,
.header-menu .item-content {
  margin-left: 46px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .header-logo {
    z-index: 101;
  }
  .header.home-page-wrapper .home-page {
    padding: 0 24px;
  }
  .header-menu {
    position: relative;
    left: -24px;
    float: inherit;
    width: calc(100% + 48px);
    height: auto;
    opacity: 0;
  }
  .header-menu li {
    padding: 0 24px;
  }
  .header-menu li.ant-menu-submenu {
    padding: 0;
  }
  .header-menu .item-sub-item {
    padding: 8px 0;
  }
  .header-mobile-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
    width: 16px;
    height: 14px;
    cursor: pointer;
  }
  .header-mobile-menu em {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #fff;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .header-mobile-menu :first-child {
    margin-top: 0;
  }
  .header .ant-menu {
    height: auto;
    overflow: hidden;
  }
  .header .ant-menu .ant-menu-item-selected {
    border: none;
  }
  .header .open {
    height: auto;
  }
  .header .open .header-mobile-menu em:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .header .open .header-mobile-menu em:nth-child(2) {
    opacity: 0;
  }
  .header .open .header-mobile-menu em:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  .header .open > .header-menu {
    opacity: 1;
    pointer-events: auto;
  }
  .header-item-block {
    height: 40px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=nav.css.map */